@model CRM.ViewModels.TradeHistoryFilterModel

<form method="post">
    <div class="filter_panel container">

        <div class="filter_element">
            @Html.DropDownListFor(m => m.Coin, (IEnumerable<SelectListItem>)ViewBag.Coins, "Все валюты", new { @class = "form-control filter_input", name = "coin", id = "coin_selector" })
        </div>




        <div class="filter_element">
            <input type="datetime-local" style="width:180px !important" class="form-control filter_input_datetime" id="startDate" name="startDate" value=@Model.StartDate min="2020-09-01T00:00" />
        </div>

        <div class="filter_element">
            <input type="datetime-local" style="width:180px !important" class="form-control filter_input_datetime" id="endDate" name="endDate" value=@Model.EndDate min="2020-09-01T23:59" />
        </div>


        <div class="filter_element">
            <button type="submit" id="TradeHistory" class="btn short_filter_button btn-primary" formaction="../TradeHistory/TradeHistory" formmethod="post">
                Показать
            </button>
        </div>
        <!--
    <div class="filter_element">
        @foreach (var account in Model.Accounts)
        {

        <a class="btn short_filter_button" style=" line-height:3; color: @(@account.name != @Model.AccountData.name ? "black" : "white"); background-color: @(@account.name != @Model.AccountData.name ? "white" : "#a76be3")" href="../UserPanel/SwitchAccount?&accountId=@account.id&Name=@account.name&returnUrl=../TradeHistory/TradeHistory">
            @account.name
        </a>

        }
    </div>
        -->
    </div>

</form>

