@model CRM.ViewModels.TradeHistoryFilterModel
@{
    ViewBag.Title = "Trade History";
}

<head>
@section Styles
{
    <link href="~/css/tradehistorystylesheet.css" rel="stylesheet">
}
</head>
@section Scripts
{
    <script type="text/javascript">
    @* TODO: переделать в razor*@
    $(function () {
        var searchBUY = 'buy';
        $("table tr td").filter(function () {
            return $(this).text() == searchBUY;
        }).parent('tr').css('backgroundColor', 'rgb(255, 255, 255)');

        var searchSELL = 'sell';
        $("table tr td").filter(function () {
            return $(this).text() == searchSELL;
        }).parent('tr').css('backgroundColor', 'rgb(242, 244, 247)');


        $('.hover_bkgr_fricc').click(function () {
            $('.hover_bkgr_fricc').hide();
        });
        $('.popupCloseButton').click(function () {
            $('.hover_bkgr_fricc').hide();
        });


    });

    function SignalMessage(str) {
        if (str) {
            $('.hover_bkgr_fricc').show();
            document.getElementById('signalP').innerHTML = str;
        }
    }

    var btn = $('#toTopButton');

    $(window).scroll(function () {
        if ($(window).scrollTop() > 300) {
            btn.addClass('show');
        } else {
            btn.removeClass('show');
        }
    });

    btn.on('click', function (e) {
        e.preventDefault();
        $('html, body').animate({ scrollTop: 0 }, '300');
    });

    </script>
}


@Html.Partial("_TradeHistoryFilterPanel")
<div class="content" style="min-height: 400px">

    <a id="toTopButton">Наверх</a>

    @Html.ValidationSummary()
    <div class="hover_bkgr_fricc">
        <span class="helper"></span>
        <div>
            <p id="signalP">Signal</p>
        </div>
    </div>



    <div>

        @{
            string DesiredProfitStr = Model.DesiredTotalProfit > 0 ? "Прибыль: +" : "Убыток: ";
            DesiredProfitStr += String.Format("{0:0.##}", Model.DesiredTotalProfit);
            DesiredProfitStr += "$";

        }

        <table style="margin: 0 auto; width: 400px; font-size: 14px; display: @(Model.DesiredTotalProfit == 0 ? "none" : "block"); ">
            <tr>
                <th colspan="2" style="padding-right: 15px">Убыточные сделки</th>
                <th colspan="2">Прибыльные сделки</th>
            </tr>
            <tr>
                <th class="ProfitTableSell">Кол-во</th>
                <th class="ProfitTableSell">Сумма</th>
                <th class="ProfitTableSell">Кол-во</th>
                <th class="ProfitTableSell">Сумма</th>
            </tr>
            <tr>
                <td>@Model.DesiredLossOrdersCount</td>
                <td>$@Model.DesiredLossOrdersSumm.ToString("#.##")</td>
                <td>@Model.DesiredProfitOrdersCount</td>
                <td>$@Model.DesiredProfitOrdersSumm.ToString("#.##")</td>
            </tr>
            <tr>
                <td colspan="4" style="text-align:center; color: @(Model.DesiredTotalProfit > 0 ? "green" : "red")">@DesiredProfitStr</td>
            </tr>
        </table>
    </div>


    <div class="container table_block">
        <table class="sortable table table-bordered table-font" style=" display: @(Model.TotalProfit == 0 ? "none" : "table");">
            <thead>
                <tr>
                    <th>#</th>
                    <th id="time">Время</th>
                    <th class="sorttable_nosort">Аккаунт</th>
                    <th class="sorttable_nosort">Тип</th>
                    <th class="sorttable_nosort">Пара</th>
                    <th class="sorttable_nosort">Цена</th>
                    <th style="display: @(Context.User.Identity.Name != "1" ? "none" : "table-cell");" class="sorttable_nosort">Кол-во</th>
                    <th class="sorttable_nosort">Расч. кол-во</th>
                    <th style="display: @(Context.User.Identity.Name != "1" ? "none" : "table-cell");" class="sorttable_nosort">Кол-во</th>
                    <th class="sorttable_nosort">Расч. кол-во</th>
                    <th style="display: @(Context.User.Identity.Name != "1" ? "none" : "table-cell");" class="sorttable_nosort">Прибыль</th>
                    <th class="sorttable_nosort">Расч. прибыль</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Orders)
                {
                    string itemProfitStr = "";
                    if (item.Profit != 0)
                    {
                        itemProfitStr = item.Profit > 0 ? "+" : "";
                        itemProfitStr += String.Format("{0:0.##}", item.Profit);
                        itemProfitStr += "$";
                        itemProfitStr += " | ";
                        itemProfitStr += item.Profit > 0 ? "+" : "";
                        itemProfitStr += String.Format("{0:0.##}", item.PercentProfit);
                        itemProfitStr += "%";
                    }
                    else
                    {
                        itemProfitStr = null;
                    }

                    string itemDesiredProfitStr = "";
                    if (item.DesiredProfit != 0)
                    {
                        itemDesiredProfitStr = item.DesiredProfit > 0 ? "+" : "";
                        itemDesiredProfitStr += String.Format("{0:0.##}", item.DesiredProfit);
                        itemDesiredProfitStr += "$";
                        itemDesiredProfitStr += " | ";
                        itemDesiredProfitStr += item.DesiredProfit > 0 ? "+" : "";
                        itemDesiredProfitStr += String.Format("{0:0.##}", item.DesiredPercentProfit);
                        itemDesiredProfitStr += "%";
                    }
                    else
                    {
                        itemDesiredProfitStr = null;
                    }

                    if ((Context.User.Identity.Name != "1" && item.DesiredQuantity != 0) || Context.User.Identity.Name == "1")
                    {
                        <tr class="trigger_popup_fricc" onclick="SignalMessage('@item.SignalStr')">
                            <td>@item.Id</td>
                            <td>@item.Time.ToString("dd.MM.yy HH:mm")</td>
                            <td>@item.Account</td>
                            <td>@item.Side</td>
                            <td>@item.Pair</td>
                            <td>$@String.Format("{0:0.########}", item.Price)</td>
                            <td style="display: @(Context.User.Identity.Name != "1" ? "none" : "table-cell");">@item.Quantity</td>
                            <td>@item.DesiredQuantity</td>
                            <td style="display: @(Context.User.Identity.Name != "1" ? "none" : "table-cell");">$@String.Format("{0:0.##}", item.DollarQuantity)</td>
                            <td>$@String.Format("{0:0.##}", item.DesiredDollarQuantity)</td>
                            <td class="profit" style="display: @(Context.User.Identity.Name != "1" ? "none" : "table-cell"); color: @(item.Profit > 0 ? "green" : "red");">@itemProfitStr</td>
                            <td class="profit" style="color: @(item.DesiredProfit > 0 ? "green" : "red");">@itemDesiredProfitStr</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        @*<div style="display: @(Model.CountOfPages == 0 ? "none" : "table");; margin:auto; padding-bottom:30px;">
            <form action="../TradeHistory/TradeHistory" method="post">
                @{
                    var nextPage = Model.CurrentPage < Model.CountOfPages ? Model.CurrentPage + 1 : Model.CurrentPage;
                    var previusPage = Model.CurrentPage > 1 ? Model.CurrentPage - 1 : 1;
                }

                <input style="display:none" type="datetime-local" name="startDate" value=@Model.StartDate />
                <input style="display:none" type="datetime-local" name="endDate" value=@Model.EndDate />

                <input style="display:none" type="text" name="account" value=@Model.Account />
                <input style="display:none" type="text" name="coin" value=@Model.Coin />

                <button class="page_button" type="submit" value="@previusPage" name="PageButton" formaction="../TradeHistory/TradeHistory" formmethod="post"><</button>
                @for (int i = Model.FirstVisiblePage; i <= Model.LastVisiblePage; i++)
                {
                    <button style="background-color: @(Model.CurrentPage == i ? "#b5abea" : "#403577");" class="page_button" type="submit" value="@i" name="PageButton" formaction="../TradeHistory/TradeHistory" formmethod="post">@i</button>
                }
                <button class="page_button" type="submit" value="@nextPage" name="PageButton" formaction="../TradeHistory/TradeHistory" formmethod="post">></button>

            </form>
        </div>*@

        @Html.Partial("Pagination")
    </div>
</div>
