
@{
    Layout = "~/Views/Shared/TradeHistory/TradeHistoryLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TradeHistory</title>

    <link href="~/css/stylesheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="~/js/datestocoockie.js"></script>

    <script src="~/js/sorttable.js"></script>

    <style type="text/css">
        table.sortable thead {
            background-color: #eee;
            color: #666666;
            font-weight: bold;
            cursor: default;
        }
        .date {
            display: none
        }
    </style>
</head>
<body>
    <div>
        <table id="myTable" class="sortable table table-bordered table-striped" style=" margin: auto; width:60%">
            <thead>
                <tr>

                    <th id="time">Время</th>
                    <th>Тип</th>
                    <th>Пара</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Количество</th>
                    <th>Комиссия</th>
                    <th>Баланс</th>
                    <th class="profit">Прибыль</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.AllOrders)
                {
                    string profit = "";
                    if (item.Profit != 0)
                    {
                        profit = String.Format("{0:0.##}", item.Profit);
                    }
                    else
                    {
                        profit = null;
                    }
                <tr>
                    <td>@item.Time.ToString("dd MMMM yyyy HH:mm:ss")</td>
                    <td>@item.Side</td>
                    <td>@item.Pair</td>
                    <td>$@String.Format("{0:0.##}", item.Price)</td>
                    <td>@item.Quantity</td>
                    <td>$@String.Format("{0:0.##}", item.DollarQuantity)</td>
                    <td>@item.CommissionAsset @item.Commission</td>
                    <td>$@String.Format("{0:0.##}", item.BalanceUSDT)</td>
                    <td class="profit">@profit</td>
                </tr>
                }
            </tbody>
        </table>

        <script type="text/javascript">
            $(function () {
                var searchBUY = 'BUY';
                $("table tr td").filter(function () {
                    return $(this).text() == searchBUY;
                }).parent('tr').css('backgroundColor', 'rgb(242, 244, 247)');

                var searchSELL = 'SELL';
                $("table tr td").filter(function () {
                    return $(this).text() == searchSELL;
                }).parent('tr').css('backgroundColor', 'rgb(255, 255, 255)');

                $('td.profit').each(function () {
                    var fValue = parseFloat($(this).text(),10);
                    console.log(fValue + " " + Math.sign(fValue));

                    if (!isNaN(fValue) && Math.sign(fValue) == 1) {
                        $(this).css('color', 'green');
                    }
                    else {
                        $(this).css('color', 'red');
                    }
                });

            });

            $(document).ready(function () {
                sorttable.innerSortFunction.apply(document.getElementById('time'), []);
                sorttable.innerSortFunction.apply(document.getElementById('time'), []);
                


            });
            
        </script>
    </div>
</body>
</html>
