@model CRM.ViewModels.TradeHistoryFilterModel
@{
    ViewBag.Title = "Trade History";
}

<head>
@section Styles
{
    <link href="~/css/tradehistorystylesheet.css" rel="stylesheet">
}
</head>
@section Scripts
{
    <script type="text/javascript">
    @* TODO: переделать в razor*@
    $(function () {
        var searchBUY = 'buy';
        $("table tr td").filter(function () {
            return $(this).text() == searchBUY;
        }).parent('tr').css('backgroundColor', 'rgb(255, 255, 255)');

        var searchSELL = 'sell';
        $("table tr td").filter(function () {
            return $(this).text() == searchSELL;
        }).parent('tr').css('backgroundColor', 'rgb(242, 244, 247)');


        $('.hover_bkgr_fricc').click(function () {
            $('.hover_bkgr_fricc').hide();
        });
        $('.popupCloseButton').click(function () {
            $('.hover_bkgr_fricc').hide();
        });


    });

    function SignalMessage(str) {
        if (str) {
            $('.hover_bkgr_fricc').show();
            document.getElementById('signalP').innerHTML = str;
        }
    }

    var btn = $('#toTopButton');

    $(window).scroll(function () {
        if ($(window).scrollTop() > 300) {
            btn.addClass('show');
        } else {
            btn.removeClass('show');
        }
    });

    btn.on('click', function (e) {
        e.preventDefault();
        $('html, body').animate({ scrollTop: 0 }, '300');
    });

    </script>
}


@Html.Partial("_TradeHistoryFilterPanel")
<div class="content" style="min-height: 400px">

    <a id="toTopButton">Наверх</a>

    @Html.ValidationSummary()
    <div class="hover_bkgr_fricc">
        <span class="helper"></span>
        <div>
            <p id="signalP">Signal</p>
        </div>
    </div>



    @*<div>

        <table class="table table-bordered table-font ProfitInfo" style="display: @(Model.TotalProfit == 0 ? "none" : "block"); ">
            <tr>
                <th colspan="2">С уч. ком.</th>
                <th colspan="2">Без уч. ком.</th>
            </tr>
            <tr>
                <td>Прибыльные</td>
                <td>Убыточные</td>
                <td>Прибыльные</td>
                <td>Убыточные</td>
            </tr>
            <tr>
                <td>@Model.ProfitOrdersCount шт.</td>
                <td>@Model.LossOrdersCount шт.</td>
                <td>@Model.ProfitOrdersCountWithoutFee шт.</td>
                <td>@Model.LossOrdersCountWithoutFee шт.</td>
            </tr>
            <tr>
                <td>$ @String.Format("{0:0.##}", Model.ProfitOrdersSumm)</td>
                <td>$ @String.Format("{0:0.##}", Model.LossOrdersSumm)</td>
                <td>$ @String.Format("{0:0.##}", Model.ProfitOrdersSummWithoutFee)</td>
                <td>$ @String.Format("{0:0.##}", Model.LossOrdersSummWithoutFee)</td>
            </tr>
            <tr>
                <td colspan="2" style="color: @(Model.TotalProfit > 0 ? "green" : "red")">$ @String.Format("{0:0.##}", Model.TotalProfit)</td>
                <td colspan="2" style="color: @(Model.TotalProfitWithoutFee > 0 ? "green" : "red")">$ @String.Format("{0:0.##}", Model.TotalProfitWithoutFee)</td>
            </tr>

        </table>
    </div>*@


    <div class="container table_block">
        <table class="table table-bordered table-font Indicators" style="display: @(Model.TotalProfit == 0 ? "none" : "block");">
            <tr>
                <td colspan="2">С уч. ком.</td>
                <td colspan="2">Без уч. ком.</td>
                <td>Общая прибыль (TP): </td>
                <td>$ @String.Format("{0:0.##}", Model.ProfitOrdersSumm)</td>
                <td>Общий убыток (TL): </td>
                <td>$ @String.Format("{0:0.##}", Model.LossOrdersSumm)</td>
                <td>Итоговый результат (TR): </td>
                <td style="color: @(Model.TotalProfit > 0 ? "green" : "red")">$ @String.Format("{0:0.##}", Model.TotalProfit)</td>
            </tr>
            <tr>
                <td>Прибыльные</td>
                <td>Убыточные</td>
                <td>Прибыльные</td>
                <td>Убыточные</td>
                <td>Кол-во прибыльных (NP): </td>
                <td>@Model.ProfitOrdersCount</td>
                <td>Кол-во убыточных (NL): </td>
                <td>@Model.LossOrdersCount</td>
                <td>Итоговое кол-во (N): </td>
                <td>@{var N = Model.ProfitOrdersCount + Model.LossOrdersCount;} @N</td>
            </tr>
            <tr>
                <td>@Model.ProfitOrdersCount шт.</td>
                <td>@Model.LossOrdersCount шт.</td>
                <td>@Model.ProfitOrdersCountWithoutFee шт.</td>
                <td>@Model.LossOrdersCountWithoutFee шт.</td>
                <td>Отношение (P/L): </td>
                <td>@String.Format("{0:0.##}", Model.RPL)</td>
                <td>Средняя прибыльная (AP): </td>
                <td>@String.Format("{0:0.##}", Model.AP)</td>
                <td>Средняя убыточная (AL): </td>
                <td>@String.Format("{0:0.##}", Model.AL)</td>
            </tr>

            <tr>
                <td>$ @String.Format("{0:0.##}", Model.ProfitOrdersSumm)</td>
                <td>$ @String.Format("{0:0.##}", Model.LossOrdersSumm)</td>
                <td>$ @String.Format("{0:0.##}", Model.ProfitOrdersSummWithoutFee)</td>
                <td>$ @String.Format("{0:0.##}", Model.LossOrdersSummWithoutFee)</td>
                <td>Средний результат (AR): </td>
                <td>@String.Format("{0:0.##}", Model.AR)</td>
                <td>Отношение ср. прибыли к ср. убытку (AP/AL): </td>
                <td>@String.Format("{0:0.##}", Model.RAPAL)</td>
                <td>Макс. нарастающий убыток (MIDD): </td>
                <td>@String.Format("{0:0.##}", Model.MIDD)</td>
            </tr>
            <tr>
                <td colspan="2" style="color: @(Model.TotalProfit > 0 ? "green" : "red")">$ @String.Format("{0:0.##}", Model.TotalProfit)</td>
                <td colspan="2" style="color: @(Model.TotalProfitWithoutFee > 0 ? "green" : "red")">$ @String.Format("{0:0.##}", Model.TotalProfitWithoutFee)</td>
                <td>Мин. депоз. (Dmin): </td>
                <td>@String.Format("{0:0.##}", Model.Dmin)</td>
                <td>Отдача (R): </td>
                <td>@String.Format("{0:0.##}", Model.R)</td>
                <td>Фактор восстановления (RF): </td>
                <td>@String.Format("{0:0.##}", Model.RF)</td>
            </tr>
            <tr>
                <td colspan="4" ></td>
                <td>Профит-фактор (PF): </td>
                <td>@String.Format("{0:0.##}", Model.PF)</td>
                <td>Достоверный профит-фактор (PF): </td>
                <td>@String.Format("{0:0.##}", Model.APF)</td>
                <td>Коэфф. Шапра: </td>
                <td>@String.Format("{0:0.##}", Model.SharpeRatio)</td>
            </tr>
        </table>

        <table class="sortable table table-bordered table-font" style=" display: @(Model.TotalProfit == 0 ? "none" : "table");">
            <thead>
                <tr>
                    <th>#</th>
                    <th id="time">Время</th>
                    <th class="sorttable_nosort">Аккаунт</th>
                    <th class="sorttable_nosort">Тип</th>
                    <th class="sorttable_nosort">Пара</th>
                    <th class="sorttable_nosort">Цена</th>
                    <th class="sorttable_nosort">Кол-во</th>
                    <th class="sorttable_nosort">Кол-во</th>
                    <th class="sorttable_nosort">Прибыль с ком.</th>
                    <th style="display: @(Context.User.Identity.Name != "5" ? "none" : "table-cell");" class="sorttable_nosort">Прибыль без ком.</th>
                    <th class="sorttable_nosort"> Lower band</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Orders)
                {
                    string itemProfitStr = "";
                    if (item.Profit != 0)
                    {
                        itemProfitStr = item.Profit > 0 ? "+" : "";
                        itemProfitStr += String.Format("{0:0.##}", item.Profit);
                        itemProfitStr += "$";
                        itemProfitStr += " | ";
                        itemProfitStr += item.Profit > 0 ? "+" : "";
                        itemProfitStr += String.Format("{0:0.##}", item.PercentProfit);
                        itemProfitStr += "%";
                    }
                    else
                    {
                        itemProfitStr = null;
                    }

                    string itemProfitWithoutFeeStr = "";
                    if (item.ProfitWithoutFee != 0)
                    {
                        itemProfitWithoutFeeStr = item.ProfitWithoutFee > 0 ? "+" : "";
                        itemProfitWithoutFeeStr += String.Format("{0:0.##}", item.ProfitWithoutFee);
                        itemProfitWithoutFeeStr += "$";
                        itemProfitWithoutFeeStr += " | ";
                        itemProfitWithoutFeeStr += item.ProfitWithoutFee > 0 ? "+" : "";
                        itemProfitWithoutFeeStr += String.Format("{0:0.##}", item.PercentProfitWithoutFee);
                        itemProfitWithoutFeeStr += "%";
                    }
                    else
                    {
                        itemProfitStr = null;
                    }


                    <tr class="trigger_popup_fricc" onclick="SignalMessage('@item.SignalStr')">
                        <td>@item.Id</td>
                        <td>@item.Time.ToString("dd.MM.yy HH:mm")</td>
                        <td>@item.Account</td>
                        <td>@item.Side</td>
                        <td>@item.Pair</td>
                        <td>$@String.Format("{0:0.########}", item.Price)</td>
                        <td>@item.Quantity</td>
                        <td>$@String.Format("{0:0.##}", item.DollarQuantity)</td>
                        <td class="profit" style="color: @(item.Profit > 0 ? "green" : "red");">@itemProfitStr</td>
                        <td class="profit" style="display: @(Context.User.Identity.Name != "5" ? "none" : "table-cell"); color: @(item.ProfitWithoutFee > 0 ? "green" : "red");">@itemProfitWithoutFeeStr</td>
                        <td>@item.LowerBand</td>
                    </tr>
                }
            </tbody>
        </table>



        @Html.Partial("Pagination")
    </div>
</div>
