@model CRM.ViewModels.SignalsAnalytics.SignalsAnalyticsViewModel
@{
    ViewBag.Title = "Signals Analytics";
}
@Html.Partial("_SignalsAnalyticsFilterPanel")

<link href="~/css/stylesheet.css" rel="stylesheet">

<div class="content" style="min-height: 400px">
    @Html.ValidationSummary()

    @if (Model.SignalsPrivates.Count != 0)
    {
        <div style="display:table; margin:auto; padding-bottom:30px;">
            <form action="../SignalsAnalytics/SignalsPrivate" method="post">

                <input style="display:none" type="date" name="startDate" value=@Model.StartDate />
                <input style="display:none" type="date" name="endDate" value=@Model.EndDate />
                <input style="display:none" type="time" name="startTime" value=@Model.StartTime />
                <input style="display:none" type="time" name="endTime" value=@Model.EndTime />

                @for (int i = Model.CurrentPage - 3; i <= Model.MaxAvailablePageNumber; i++)
                {
                    if (i > 0)
                    {
                        <button style="background-color: @(Model.CurrentPage == i ? "#b5abea" : "#403577");" class="page_button" type="submit" value="@i" name="PageNumber" formaction="../SignalsAnalytics/SignalsPrivate" formmethod="post">@i</button>
                    }
                }
                @Model.CountOfPages
            </form>
        </div>
    }


    <div class="container table_block" style="display: @(Model.SignalsPrivates.Count != 0 ? "display" : "none")">
        <table style="font-size:12px" class="sortable table table-bordered table-font">
            <thead>
                <tr>
                    <th>Base</th>
                    <th id="time" style="width:150px">SourceTime</th>
                    <th class="sorttable_nosort">TrendDiff</th>
                    <th class="sorttable_nosort">ErrorMessage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SignalsPrivates)
                {
                    <tr>
                        <td>@item.Base</td>
                        <td>@item.SourceTime</td>
                        <td>@item.TrendDiff</td>
                        <td>@item.ErrorMessages</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>

    @if (Model.SignalsPrivates.Count != 0)
    {
        <div style="display:table; margin:auto; padding-bottom:30px;">
            <form action="../SignalsAnalytics/SignalsPrivate" method="post">

                <input style="display:none" type="date" name="startDate" value=@Model.StartDate />
                <input style="display:none" type="date" name="endDate" value=@Model.EndDate />
                <input style="display:none" type="time" name="startTime" value=@Model.StartTime />
                <input style="display:none" type="time" name="endTime" value=@Model.EndTime />

                @for (int i = Model.CurrentPage - 3; i <= Model.MaxAvailablePageNumber; i++)
                {
                    if (i > 0)
                    {
                        <button style="background-color: @(Model.CurrentPage == i ? "#b5abea" : "#403577");" class="page_button" type="submit" value="@i" name="PageNumber" formaction="../SignalsAnalytics/SignalsPrivate" formmethod="post">@i</button>
                    }
                }
                @Model.CountOfPages
            </form>
        </div>
    }
</div>