
@{
    ViewBag.Title = "Trade History";
}

<style type="text/css">
    @@media only screen and (max-width: 600px) {
        .table-font {
            table-layout: auto;
            font-size: 8px !important;
            text-align: center;
        }

        .table-font td, th {
            padding: 1px !important;
            text-align: center;
        }

        .table_block {
            padding: 0 !important;
        }
    }

    .table-font td, th {
        text-align: center;
    }

    /* Popup box BEGIN */
.hover_bkgr_fricc{
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: powderblue;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 400px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    /*font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;*/
}
/* Popup box BEGIN */



</style>

@Html.Partial("_THFilterPanel")
<div class="content" style="min-height: 400px">
    <div class="profit profit_string" style="text-align: center; color: @(Model.TotalProfit > 0 ? "green" : "red"); display: @(Model.TotalProfit == 0 ? "none" : "block");">
        @{
            string profitStr = Model.TotalProfit > 0 ? "+" : "";
            profitStr += String.Format("{0:0.##}", Model.TotalProfit);
            profitStr += "$";

        }
        Прибыль: @profitStr
    </div>
    <div class="container table_block">
        <table class="sortable table table-bordered table-font" style=" display: @(Model.TotalProfit == 0 ? "none" : "table");">
            <thead>
                <tr>
                    <th id="time">Время</th>
                    <th class="sorttable_nosort">Аккаунт</th>
                    <th class="sorttable_nosort">Тип</th>
                    <th class="sorttable_nosort">Пара</th>
                    <th class="sorttable_nosort">Цена</th>
                    <th class="sorttable_nosort">Количество</th>
                    <th class="sorttable_nosort">Количество</th>
                    <th class="sorttable_nosort">Прибыль</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Orders)
                {
                    string itemProfitStr = "";
                    if (item.Profit != 0)
                    {
                        itemProfitStr = item.Profit > 0 ? "+" : "";
                        itemProfitStr += String.Format("{0:0.##}", item.Profit);
                        itemProfitStr += "$";
                        itemProfitStr += " | ";
                        itemProfitStr += item.Profit > 0 ? "+" : "";
                        itemProfitStr += String.Format("{0:0.##}", item.PercentProfit);
                        itemProfitStr += "%";
                    }
                    else
                    {
                        itemProfitStr = null;
                    }

                    <tr class="trigger_popup_fricc" onclick="SignalMessage('@item.SignalStr')">
                        <td>@item.Time.ToString("dd.MM.yy HH:mm")</td>
                        <td>@item.Account</td>
                        <td>@item.Side</td>
                        <td>@item.Pair</td>
                        <td>$@String.Format("{0:0.##}", item.Price)</td>
                        <td>@item.Quantity</td>
                        <td>$@String.Format("{0:0.##}", item.DollarQuantity)</td>
                        <td class="profit" style="color: @(item.Profit > 0 ? "green" : "red");">@itemProfitStr</td>
                    </tr>

                }
            </tbody>
        </table>

        <div class="hover_bkgr_fricc">
            <span class="helper"></span>
            <div>
                <div class="popupCloseButton">X</div>
                <p id="signalP">Signal</p>
            </div>
        </div>

        <script type="text/javascript">
            $(function () {
                var searchBUY = 'buy';
                $("table tr td").filter(function () {
                    return $(this).text() == searchBUY;
                }).parent('tr').css('backgroundColor', 'rgb(255, 255, 255)');

                var searchSELL = 'sell';
                $("table tr td").filter(function () {
                    return $(this).text() == searchSELL;
                }).parent('tr').css('backgroundColor', 'rgb(242, 244, 247)');


                
                $('.hover_bkgr_fricc').click(function(){
                    $('.hover_bkgr_fricc').hide();
                });
                $('.popupCloseButton').click(function(){
                    $('.hover_bkgr_fricc').hide();
                });


            });

            function SignalMessage(str) {
                if (str) {
                    //alert(str)
                    $('.hover_bkgr_fricc').show();
                    document.getElementById('signalP').innerHTML = str;
                }
            }

        </script>
    </div>
</div>
