
@{
    Layout = "~/Views/Shared/TradeHistory/TradeHistoryLayout.cshtml";
    ViewBag.Title = "Trade History";
}

<style type="text/css">
    @@media only screen and (max-width: 600px) {
        .table-font {
            table-layout: auto;
            font-size: 8px !important;
            text-align: center;
        }

        .table-font td, th {
            padding: 1px !important;
            text-align: center;
        }

        .table_block {
            padding: 0 !important;
        }
    }

    .table-font td, th {
        text-align: center;
    }
</style>

@Html.Partial("_FilterPanel")
<div class="content" style="min-height: 400px">
    <div class="profit profit_string" style="color: @(Model.Profit > 0 ? "green" : "red"); display: @(Model.Profit == 0 ? "none" : "block");">
        @{
            string profitStr = Model.Profit > 0 ? "+" + Model.Profit.ToString("#.##") + "$" : Model.Profit.ToString("#.##") + "$";
        }
        Прибыль: @profitStr
    </div>
    <div class="container table_block">
        <table class="sortable table table-bordered table-font" style=" display: @(Model.Profit == 0 ? "none" : "table");">
            <thead >
                <tr >
                    <th id="time">Время</th>
                    <th class="sorttable_nosort">Аккаунт</th>
                    <th class="sorttable_nosort">Тип</th>
                    <th class="sorttable_nosort">Пара</th>
                    <th class="sorttable_nosort">Цена</th>
                    <th class="sorttable_nosort">Количество</th>
                    <th class="sorttable_nosort">Количество</th>
                    <th class="sorttable_nosort">Прибыль</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Orders)
                {
                    string itemProfitStr = "";
                    if (item.Profit != 0)
                    {
                        itemProfitStr = item.Profit > 0 ? "+" + item.Profit.ToString("#.##") + "$" : item.Profit.ToString("#.##") + "$";
                    }
                    else
                    {
                        itemProfitStr = null;
                    }
                    <tr>
                        <td>@item.Time.ToString("dd MM yy HH:mm")</td>
                        <td>@item.Account</td>
                        <td>@item.Side</td>
                        <td>@item.Pair</td>
                        <td>$@String.Format("{0:0.##}", item.Price)</td>
                        <td>@item.Quantity</td>
                        <td>$@String.Format("{0:0.##}", item.DollarQuantity)</td>
                        <td class="profit" style="color: @(item.Profit > 0 ? "green" : "red");">@itemProfitStr</td>
                    </tr>
                }



            </tbody>
        </table>

        <script type="text/javascript">
            $(function () {
                var searchBUY = 'buy';
                $("table tr td").filter(function () {
                    return $(this).text() == searchBUY;
                }).parent('tr').css('backgroundColor', 'rgb(255, 255, 255)');

                var searchSELL = 'sell';
                $("table tr td").filter(function () {
                    return $(this).text() == searchSELL;
                }).parent('tr').css('backgroundColor', 'rgb(242, 244, 247)');

            });
        </script>
    </div>
</div>
@Html.Partial("Footer")
