
@{
    Layout = "~/Views/Shared/TradeHistory/TradeHistoryLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TradeHistory</title>
<style>
  @@media only screen and (max-width: 600px) {
    .table-font {
        font-size: 8px !important;
        text-align: center;
    }

    .profit{
        display:none;
    }

    .table-font td,th{
        padding: 1px !important;
    }

    .table_block{
        padding: 0 !important;
    }
}

  .profit{
      color: red;
      text-align:center;
  }



</style>

    <link href="~/css/stylesheet.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="sans-serif.css">
<link rel="stylesheet" type="text/css" media="print" href="serif.css">

    <script src="~/js/datestocoockie.js"></script>
    <script src="~/js/sorttable.js"></script>



</head>
<body>
    <div class="profit profit_string">
        @{
            string profitStr = ViewBag.Profit > 0 ? "+$" + ViewBag.Profit.ToString("0.00") : "-$" + ViewBag.Profit.ToString("0.00");
             }
        Прибыль: @profitStr
    </div>
    <div class="container table_block">
        <table class="sortable table table-bordered table-font">
            <thead>
                <tr>
                    <th id="time">Время</th>
                    <th class="sorttable_nosort">Аккаунт</th>
                    <th class="sorttable_nosort">Тип</th>
                    <th class="sorttable_nosort">Пара</th>
                    <th class="sorttable_nosort">Цена</th>
                    <th class="sorttable_nosort">Количество</th>
                    <th class="sorttable_nosort">Количество</th>
                    <th class="sorttable_nosort profit">Прибыль</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Orders)
                {
                    string profit = "";
                    if (item.Profit != 0)
                    {
                        profit = String.Format("{0:0.##}", item.Profit);
                    }
                    else
                    {
                        profit = null;
                    }
                    <tr>
                        <td>@item.Time.ToString("dd MM yyyy HH:mm:ss")</td>
                        <td>@item.Account</td>
                        <td>@item.Side</td>
                        <td>@item.Pair</td>
                        <td>$@String.Format("{0:0.##}", item.Price)</td>
                        <td>@item.Quantity</td>
                        <td>$@String.Format("{0:0.##}", item.DollarQuantity)</td>
                        <td class="profit">@profit</td>
                    </tr>
                }
            </tbody>
        </table>

        <script type="text/javascript">
            $(function () {
                var searchBUY = 'buy';
                $("table tr td").filter(function () {
                    return $(this).text() == searchBUY;
                }).parent('tr').css('backgroundColor', 'rgb(255, 255, 255)');

               

                var searchSELL = 'sell';
                $("table tr td").filter(function () {
                    return $(this).text() == searchSELL;
                }).parent('tr').css('backgroundColor', 'rgb(242, 244, 247)');

                $('td.profit').each(function () {
                    var fValue = parseFloat($(this).text());

                    if (!isNaN(fValue) && Math.sign(fValue) != -1) {
                        $(this).css('color', 'green');
                    }
                    else {
                        $(this).css('color', 'red');
                    }
                    
                });



            });

        </script>
    </div>
</body>
</html>
