@model CRM.ViewModels.Statistics.StatisticsViewModel
@{
    ViewBag.Title = "Statistics";
}

@section Scripts
{
    <script type="text/javascript">
        var btn = $('#toTopButton');

    $(window).scroll(function () {
        if ($(window).scrollTop() > 300) {
            btn.addClass('show');
        } else {
            btn.removeClass('show');
        }
    });

    btn.on('click', function (e) {
        e.preventDefault();
        $('html, body').animate({ scrollTop: 0 }, '300');
    });
    </script>
}

@Html.Partial("StatisticsFilterPanel")
<div class="content" style="min-height: 400px">

    <a id="toTopButton">Наверх</a>

    <div style="padding:20px; text-align:center">
        <a class="anchor-link" href="../TradeHistory/ErrorOrders">Ошибочные ордера</a>
    </div>

    <div class="container table_block">
        <table class="sortable table table-bordered table-font" style=" display: @(Model.Statistics.Count == 0 ? "none" : "table");">
            <thead>
                <tr>
                    <th id="time">Время</th>
                    <th class="sorttable_nosort">Дневная прибыль</th>
                    <th class="sorttable_nosort">Всего прибыль</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Statistics)
                {
                    string itemProfitStr = "";
                    itemProfitStr = item.ProfitOfDay > 0 ? "+" : "";
                    itemProfitStr += String.Format("{0:0.##}", item.ProfitOfDay);
                    itemProfitStr += "$";

                    string itemTotalProfitStr = "";
                    itemTotalProfitStr = item.TotalProfit > 0 ? "+" : "";
                    itemTotalProfitStr += String.Format("{0:0.##}", item.TotalProfit);
                    itemTotalProfitStr += "$";
                    <tr>
                        <td>@item.Date.ToString("dd.MM.yy")</td>
                        <td class="profit" style="color: @(item.ProfitOfDay < 0 ? "red" : (item.ProfitOfDay > 0 ? "green" : "black"));">@itemProfitStr</td>
                        <td class="profit" style="color: @(item.TotalProfit < 0 ? "red" : "green");">@itemTotalProfitStr</td>
                    </tr>
                }
            </tbody>
        </table>

        @Html.Partial("Pagination")
    </div>
</div>
