@{
    ViewBag.Title = "Signals";

}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript">

        CHART = document.getElementById('Chart');

        var RaiseDates = [];
        var FallDates = [];

        var RaiseValues = [];
        var FallValues = [];



        @foreach (var item in Model.RaiseDates)
        {
            <text>
        RaiseDates.push("@item.Year"+ "-" + "@item.Month" + "-" + "@item.Day" + " "+ "@item.Hour" + ":" + "@item.Minute");
            </text>
        }

        @foreach (var item in Model.RaiseValues)
        {
            <text>
        RaiseValues.push(parseFloat(@item));
            </text>

            }

        @foreach (var item in Model.FallDates)
        {
            <text>
        FallDates.push("@item.Year"+ "-" + "@item.Month" + "-" + "@item.Day" + " "+ "@item.Hour" + ":" + "@item.Minute");
            </text>
        }

        @foreach (var item in Model.FallValues)
        {
            <text>
        FallValues.push(parseFloat(@item));
            </text>

            }

        ctx = document.getElementById('myChart').getContext('2d');

        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: FallDates,
                datasets: [{
                    label: 'Raise',
                    borderColor: 'rgba(23, 227, 101, 0.8)',
                    backgroundColor: 'rgba(23, 227, 101, 0.5)',
                    fill: false,
                    data: RaiseValues,
                    pointRadius:0
                }, {
                    label: 'Fall',
                        borderColor: 'rgba(219, 22, 22, 0.8)',
                        backgroundColor: 'rgba(219, 22, 22, 0.5)',
                    fill: false,
                        data: FallValues,
                        pointRadius: 0
                }]
            },
            options: {
                responsive: true,
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        });


    </script>

}

@model CRM.ViewModels.Charts.SignalsModel
@Html.Partial("_SignalsFilterPanel")
<div class="content">

    @Html.ValidationSummary()

    <canvas id="myChart" width="400" height="200" style="display: @(Model.RaiseValues.Count != 0 ? "block" : "none")"></canvas>

</div>
