@{
    ViewBag.Title = "Signals";

}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript">

        CHART = document.getElementById('Chart');

        var RaiseDates = [];
        var FallDates = [];

        var RaiseValues = [];
        var FallValues = [];

        var RaiseEMA = [];
        var FallEMA = [];


        @foreach (var item in Model.RaiseDates)
        {
            <text>
        RaiseDates.push("@item.Year"+ "-" + "@item.Month" + "-" + "@item.Day" + " "+ "@item.Hour" + ":" + "@item.Minute");
            </text>
        }

        @foreach (var item in Model.RaiseValues)
        {
            <text>
        RaiseValues.push(parseFloat(@item));
            </text>

            }

        @foreach (var item in Model.FallDates)
        {
            <text>
        FallDates.push("@item.Year"+ "-" + "@item.Month" + "-" + "@item.Day" + " "+ "@item.Hour" + ":" + "@item.Minute");
            </text>
        }

        @foreach (var item in Model.FallValues)
        {
            <text>
        FallValues.push(parseFloat(@item));
            </text>

            } 

        @foreach (var item in Model.FallEMA)
        {
            <text>
        FallEMA.push(parseFloat(@item));
            </text>

            } 

        @foreach (var item in Model.RaiseEMA)
        {
            <text>
        RaiseEMA.push(parseFloat(@item));
            </text>

            }

        ctx = document.getElementById('myChart').getContext('2d');

        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: FallDates,
                datasets: [{
                    label: 'Raise Proba',
                    borderColor: 'rgba(23, 227, 101, 0.8)',
                    backgroundColor: 'rgba(23, 227, 101, 0.5)',
                    fill: false,
                    type: 'scatter',
                    data: RaiseValues,
                    pointRadius:0
                }, {
                    label: 'Fall Proba',
                    borderColor: 'rgba(219, 22, 22, 0.8)',
                    backgroundColor: 'rgba(219, 22, 22, 0.5)',
                        fill: false,
                        type: 'scatter',
                    data: FallValues,
                    pointRadius: 0
                },{
                    label: 'Raise EMA',
                        borderColor: 'rgba(33, 79, 219, 0.8)',
                        backgroundColor: 'rgba(33, 79, 219, 0.5)',
                        fill: false,
                        type: 'scatter',
                        data: RaiseEMA,
                    pointRadius: 0
                },{
                    label: 'Fall EMA',
                        borderColor: 'rgba(33, 219, 160, 0.8)',
                        backgroundColor: 'rgba(33, 219, 160, 0.5)',
                        fill: false,
                        type: 'scatter',
                        data: FallEMA,
                    pointRadius: 0
                }]
            },
            options: {
                responsive: true,
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        });


    </script>

}

@model CRM.ViewModels.Charts.SignalsModel
@Html.Partial("_SignalsFilterPanel")
<div class="content">

    @Html.ValidationSummary()

    <div style="height:30%; width:80%;margin: 0 auto;">
        <canvas id="myChart"  style="display: @(Model.RaiseValues.Count != 0 ? "block" : "none")"></canvas>
    </div>
    <div style=" padding-left: 350px; padding-right: 350px;">
        <a href="~/Charts/ExportToCSV/?start=@Model.StartDate&end=@Model.EndDate">Скачать</a>
        <table class=" table table-bordered table-font">
            <tr>
                <th>Дата</th>
                <th>Raise proba</th>
                <th>Fall proba</th>
            </tr>
            @foreach (var item in Model.signals)
            {
                <tr>
                    <td>@item.Date</td>
                    <td>@item.RaiseProba</td>
                    <td>@item.FallProba</td>
                </tr>
            }

        </table>
    </div>

</div>
