
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TradeHistoryLayout</title>

    <style type="text/css">
        .filter_element {
            vertical-align: top;
            margin-right: 5px;
            padding-top: 10px;
        }
       
        .filter_input {
            border: 2px solid #a76be3 !important;
            background-color: transparent;
            height:50px !important; 
            width:150px !important;
        }

        .filter_button {
            height: 50px !important;
            width: 305px !important;
            margin-right: 0 !important;
        }

        .filter_panel {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;

            padding-top:20px;
            padding-bottom:20px;
             display: flex;
           flex-wrap: wrap;
            justify-content: center;
            margin: auto;
        }




    </style>

</head>
<body>
    <div>
        @Html.Partial("Navbar")
    </div>

    <form method="post">
        <div class="filter_panel container">

            <div class="filter_element">
                <select class="form-control filter_input" name="coin" id="coin_selector">
                    @foreach (var item in CRM.Models.DropDownFields.Coins)
                    {
                <option value="@item.Value">@item.Name</option>
                    }
                </select>
            </div>

            <div class="filter_element">
                <select class="form-control filter_input" name="accounts" id="excange_selector">
                    @foreach (var item in CRM.Models.DropDownFields.Accounts)
                    {
                <option value="@item.Value">@item.Name</option>
                    }
                </select>
            </div>


            <div class="filter_element">
                <input type="date" class="form-control filter_input" id="startDate" name="startDate" value="2019-04-05" min="2019-04-05" />
            </div>

            <div class="filter_element">
                <input type="date" class="form-control filter_input" id="endDate" name="endDate" value="@DateTime.Now.ToString()" min="2019-04-01" />
            </div>

            <div class="filter_element">
                <button type="submit" id="TradeHistory" class="btn filter_button btn-primary" formaction="../TH/TradeHistory" formmethod="post">
                    Показать историю
                </button>
            </div>
        </div>

    </form>

    <script type="text/javascript">
        $("#TradeHistory").click(function () {
            setDataToCoockie()
        });
    </script>



    @RenderBody()
</body>
</html>
