
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TradeHistoryLayout</title>

    <link href="~/css/stylesheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="~/js/datestocoockie.js"></script>
</head>
<body>
    <div>
        @Html.Partial("Navbar")
    </div>
    <div>
        <div class="layout_block">
            <form method="post">
                <div>
                    <div class="input-group mt-3 mb-3">

                        <select class="form-control form-control-sm" name="exchange" id="excange_selector">
                            <option value="binance">Binance</option>
                        </select>

                        <select class="form-control form-control-sm " name="coin" id="coin_selector">
                            @foreach (var item in CRM.Models.DropDownFields.Coins)
                            {
                                <option value="@item.Value">@item.Name</option>
                            }
                        </select>

                        <select class="form-control form-control-sm" name="accounts" id="excange_selector">
                            @foreach (var item in CRM.Models.DropDownFields.Accounts)
                            {
                                <option value="@item.Value">@item.Name</option>
                            }
                        </select>


                    </div>

                    <div class="input-group mb-3">
                        <input type="date" class="form-control" id="startDate" name="startDate" min="2019-04-01" />
                        <input type="date" class="form-control" id="endDate" name="endDate" min="2019-04-01"   />
                    </div>

                    <button type="submit" id="TradeHistory" class="btn btn-info btn-block" formaction="../TradeHistory/TradeHistory" formmethod="post">TradeHistory</button>


                    <script type="text/javascript">

                        $("#TradeHistory").click(function () {
                            setDataToCoockie()
                        });

                    </script>


                </div>
            </form>
        </div>
    </div>

    @RenderBody()
</body>
</html>
