@{
    ViewBag.Title = "Balances";
}

<style type="text/css">
    @@media only screen and (max-width: 600px) {
        .table-font {
            table-layout: auto;
            font-size: 16px !important;
            text-align: center;
        }

        .table-font td, th {
            padding: 1px !important;
            text-align: center;
        }

        .table_block {
            padding: 0 !important;
        }
    }

    .table-font td, th {
        text-align: center;
    }
</style>

@Html.Partial("BalancesFilterPanel")
<div class="content" style="min-height: 600px">
    <div class="container table_block">
        <table class="table table-font balance_table">
            <thead>
                <tr>
                    <th>Валюта</th>
                    <th>Свободно</th>
                    <th>В использовании</th>
                    <th>Всего</th>
                    <th>Продажа</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AccountBalances)
                {
                <tr>
                    <td>@item.Currency</td>
                    <td>@item.Free</td>
                    <td>@item.Used</td>
                    <td>@item.Total</td>
                    <td><button id="@item.Currency" class="btn btn-secondary">Продать</button></td>
                </tr>

                }
            </tbody>
        </table>

    </div>
</div>

<script type="text/javascript">

    window.addEventListener("load", function () {
        document.getElementById("USDT").disabled = @Model.AccountBalances[0].buttonDisabled;
        document.getElementById("BTC").disabled = @Model.AccountBalances[1].buttonDisabled;
        document.getElementById("ETH").disabled = @Model.AccountBalances[2].buttonDisabled;
        document.getElementById("LTC").disabled = @Model.AccountBalances[3].buttonDisabled;
    });
</script>