@{
    Layout = "~/Views/Shared/Data/OrderBookLayout.cshtml";
    ViewBag.Title = "Order Book Asks";

}

@model CRM.ViewModels.Data.OrderBookViewModel
<!DOCTYPE html>

<html>
<head>
    <script src="~/js/sorttable.js"></script>

    <style type="text/css">
        @@media only screen and (max-width: 600px) {
            .table-font {
                table-layout: auto;
                font-size: 8px !important;
                text-align: center;
            }

                .table-font td, th {
                    padding: 1px !important;
                }

            .table_block {
                padding: 0 !important;
            }
        }
    </style>

</head>
<body>
    @Html.Partial("_OrderBookFilterPanel")

    <div class="content" style="min-height: 400px">

        <div style="text-align:center">
            <span>
                Суммарный объем: @Model.SummVolume
            </span>
        </div>
        <div class="container table_block">
            <table class="sortable table table-bordered table-font">
                <thead>
                    <tr style="text-align:center">
                        <th class="sorttable_nosort">Валюта:</th>
                        <th class="sorttable_nosort">Дата:</th>
                        <th class="sorttable_nosort">Цена:</th>
                        <th class="sorttable_nosort">Объем:</th>
                        <th class="sorttable_nosort">Ситуация:</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var value in Model.Show)
                    {

                        <tr>
                            <td>@value.CurrencyName</td>
                            <td>@value.Date.ToString("dd MMMM yyyy hh:mm:ss")</td>
                            <td>@value.Price</td>
                            <td>@value.Volume</td>
                            <td>@value.MarketSituation</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

    @Html.Partial("Footer")
</body>
</html>
