@model CRM.ViewModels.UserPanelModel
@{
    ViewBag.Title = "User Panel";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserPanel</title>


    <link href="~/css/stylesheet.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>

    <div class="content">
        <div class="user_panel">
            <div class="parent">
                <form action="/UserPanel/UserPanel" method="post">
                    <div style="text-align:center">
                        <h1>USER PANEL</h1>
                    </div>

                    <div class="user_block">
                        <label>Логин:</label><br />
                        <div class="user_row">
                            <input class="form-control user_input" placeholder="@Model.Login" type="text" asp-for="Login" />
                            <button class="btn filter_button btn-primary" type="submit" formaction="/UserPanel/ChangeLoginAsync" formmethod="get">Изменить</button>
                        </div>
                    </div>

                    <div class="user_block">
                        <label>Пароль:</label><br />
                        <div class="user_row">
                            <input class="form-control user_input" placeholder="@Model.Password" type="text" asp-for="Password" />
                            <button class="btn filter_button btn-primary" type="submit" formaction="/UserPanel/ChangePassword" formmethod="get">Изменить</button>
                        </div>
                    </div>

                    @if (!ViewBag.isUser)
                    {
                    <div>

                        <div class="user_block">
                            <label>Перезапуск обновления статистики: </label><br />
                            <div class="user_row">
                                <button class="btn filter_button btn-primary" type="submit" formaction="/UserPanel/RestartDailyCalculate" formmethod="get">Перезапустить</button>
                            </div>
                        </div>

                        <div class="user_block">
                            <label>Обновление данных ежедневно в: </label><br />
                            <div class="user_row">
                                <input type="text" class="form-control user_input" name="updateData" placeholder="@CRM.Services.DailyTriggerService.TriggerHour">
                                <button class="btn filter_button btn-primary" type="submit" formaction="/UserPanel/ChangeDailyTrigger" formmethod="get">Изменить</button>
                            </div>
                        </div>

                        <div class="user_block">
                            <label>Ручная загрузка данных: </label><br />
                            <div class="user_row">
                                <input type="date" class="form-control user_input" name="startDate" value="" />
                                <input type="date" class="form-control user_input" name="endDate" value="" />
                                <button class="btn filter_button btn-primary" id="loadData" type="submit" formaction="/UserPanel/LoadData" formmethod="get">Загрузить</button>
                            </div>
                        </div>

                    </div>
                    }


                    <div style="margin-left:48%">
                        <div id="Spinner" style="display:none" class="spinner-border text-success"></div>
                    </div>

                    <script>

                        $("#loadData").click(function () {
                            showDiv();
                        });

                        function showDiv() {
                            document.getElementById('Spinner').style.display = "block";
                        }
                    </script>

                    <div style="text-align:center">
                        @ViewBag.status
                    </div>

                    <div class="user_block">
                        <div>
                            <label>Дата регистрации: @Model.RegistrationDate</label>
                        </div>

                        <div>
                            <button class="btn filter_button btn-primary" type="submit" formaction="/UserPanel/ExitFromAccount" formmethod="get" name="exit_button">Выход из аккаунта</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div style="margin-top:100px">
    </div>
</body>
</html>
