
@{
    ViewData["Title"] = "Trade";
}
@model CRM.ViewModels.ManualTrading.ManualTradingModel

    <head>
        <link href="~/css/ManualTrading.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    </head>



    <div class="container table_block">
        <h2>Ручная торговля</h2>

        <div class="technical_indicators">
            <div class="left w60 h100">
                <div class="count_of_units">
                    <div class="vertical-bar">
                        <div class="unit-title">
                            3ч
                        </div>
                        <div class="unit-body">
                            <div class="unit-body-value">
                                <h3>@Model.Unit.PercentOfUnits3h %</h3>
                            </div>
                            <div class="unit-fill" style="height:@Model.Unit.PercentOfUnits3h%;background-color: @(Model.Unit.CountOfUnits3h > 90 ? "rgba(32, 180, 34, 0.4)" : "rgba(180, 32, 34, 0.4)")">
                            </div>
                        </div>
                        <div class="unit-title">
                            @Model.Unit.CountOfUnits3h / 180
                        </div>
                    </div>
                    <div class="vertical-bar">
                        <div class="unit-title">
                            1ч
                        </div>
                        <div class="unit-body">
                            <div class="unit-body-value">
                                <h3>@Model.Unit.PercentOfUnits1h %</h3>
                            </div>
                            <div class="unit-fill" style="height:@Model.Unit.PercentOfUnits1h%;background-color: @(Model.Unit.CountOfUnits1h > 30 ? "rgba(32, 180, 34, 0.4)" : "rgba(180, 32, 34, 0.4)")">

                            </div>
                        </div>

                        <div class="unit-title">
                            @Model.Unit.CountOfUnits1h / 60
                        </div>
                    </div>
                    <div class="vertical-bar">
                        <div class="unit-title">
                            30м
                        </div>
                        <div class="unit-body">
                            <div class="unit-body-value">
                                <h3>@Model.Unit.PercentOfUnits30m %</h3>
                            </div>
                            <div class="unit-fill" style="height:@Model.Unit.PercentOfUnits30m%;background-color: @(Model.Unit.CountOfUnits30m > 15 ? "rgba(32, 180, 34, 0.4)" : "rgba(180, 32, 34, 0.4)")">

                            </div>
                        </div>

                        <div class="unit-title">
                            @Model.Unit.CountOfUnits30m / 30
                        </div>
                    </div>
                    <div class="vertical-bar">
                        <div class="unit-title">
                            15м
                        </div>
                        <div class="unit-body">
                            <div class="unit-body-value">
                                <h3>@Model.Unit.PercentOfUnits15m %</h3>
                            </div>
                            <div class="unit-fill" style="height:@Model.Unit.PercentOfUnits15m%;background-color: @(Model.Unit.CountOfUnits15m > 7 ? "rgba(32, 180, 34, 0.4)" : "rgba(180, 32, 34, 0.4)")">
                            </div>
                        </div>

                        <div class="unit-title">
                            @Model.Unit.CountOfUnits15m / 15
                        </div>
                    </div>
                    <div class="vertical-bar">
                        <div class="unit-title">
                            5м
                        </div>
                        <div class="unit-body">
                            <div class="unit-body-value">
                                <h3>@Model.Unit.PercentOfUnits5m %</h3>
                            </div>
                            <div class="unit-fill" style="height:@Model.Unit.PercentOfUnits5m%;background-color: @(Model.Unit.CountOfUnits5m > 2 ? "rgba(32, 180, 34, 0.4)" : "rgba(180, 32, 34, 0.4)")">


                            </div>
                        </div>
                        <div class="unit-title">
                            @Model.Unit.CountOfUnits5m / 5
                        </div>
                    </div>
                </div>
            </div>
            <div class="right w40 h100">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                    <div class="tradingview-widget-container__widget"></div>
                    <div class="tradingview-widget-copyright"><a href="https://ru.tradingview.com/symbols/BINANCE-{@Model.Coin}USDT/" rel="noopener" target="_blank"><span class="blue-text">Технический анализ @Model.Coin USDT</span></a> от TradingView</div>
                    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                        {
                            "interval": "1m",
                            "width": "100%",
                            "isTransparent": true,
                            "height": "100%",
                            "symbol": "@ViewBag.TradingViewSymbol",
                            "showIntervalTabs": true,
                            "locale": "ru",
                             "colorTheme": "light"
                        }
                    </script>
                </div>
                <!-- TradingView Widget END -->
            </div>
        </div>

        <div class="filter">
            <form>
                <div class="filter_panel container">
                    <div class="filter_element">
                        <input type="datetime-local" style="width:180px !important" class="form-control filter_input_datetime" id="startDate" name="startDate" value=@Model.StartDate.ToString("yyyy-MM-ddTHH:mm") />
                    </div>

                    <div class="filter_element">
                        <input type="datetime-local" style="width:180px !important" class="form-control filter_input_datetime" id="endDate" name="endDate" value=@Model.EndDate.ToString("yyyy-MM-ddTHH:mm") />
                    </div>
                    <div class="filter_element">
                        @Html.DropDownListFor(m => m.Coin, (IEnumerable<SelectListItem>)ViewBag.Coins, "Все валюты", new { @class = "form-control filter_input", name = "coin", id = "coin_selector" })
                    </div>

                    <div class="filter_element">
                        @Html.DropDownListFor(m => m.TimeRange, (IEnumerable<SelectListItem>)ViewBag.TimeRanges, new { @class = "form-control filter_input", name = "timerange", id = "timerange_selector" })
                    </div>

                    <div class="filter_element">
                        <button type="submit" id="TradeHistory" class="btn short-filter_button btn-primary" formaction="../ManualTrading/Trade" formmethod="post">
                            Обновить
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="count_of_units_timeline">
            <canvas id="units-timeline" width="400" height="200"></canvas>
        </div>

        <div>
            <canvas id="graph_chart" width="400" height="200"></canvas>
        </div>



        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
            <div id="tradingview_f77b3"></div>
            <div class="tradingview-widget-copyright"><a href=$"https://ru.tradingview.com/symbols/BINANCE-{@Model.Coin}USDT/" rel="noopener" target="_blank"><span class="blue-text">График @Model.Coin USDT</span></a> предоставлен TradingView</div>
            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
            <script type="text/javascript">
                    new TradingView.widget(
                    {
                        "width": 980,
                        "height": 610,
                        "symbol": "BINANCE:"+"@Model.Coin"+"USDT",
                        "interval": "1",
                        "timezone": "Etc/UTC",
                        "theme": "light",
                        "style": "1",
                        "locale": "ru",
                        "toolbar_bg": "#f1f3f6",
                        "enable_publishing": false,
                        "withdateranges": true,
                        "hide_side_toolbar": false,
                        "allow_symbol_change": true,
                        "container_id": "tradingview_f77b3"
                    }
                );</script>
        </div>
        <!-- TradingView Widget END -->
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
            <div id="tradingview_b148b"></div>
            <div class="tradingview-widget-copyright"><a href=$"https://ru.tradingview.com/symbols/BINANCE-{@Model.Coin}USDT/" rel="noopener" target="_blank"><span class="blue-text">График @Model.Coin USDT</span></a> предоставлен TradingView</div>
            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
            <script type="text/javascript">
                    new TradingView.widget(
                    {
                        "width": 980,
                        "height": 1000,
                        "symbol": "BINANCE:"+"@Model.Coin"+"USDT",
                        "interval": "1",
                        "timezone": "Etc/UTC",
                        "theme": "light",
                        "style": "1",
                        "locale": "ru",
                        "toolbar_bg": "#f1f3f6",
                        "enable_publishing": false,
                        "withdateranges": true,
                        "hide_side_toolbar": false,
                        "allow_symbol_change": true,
                        "studies": [
                            "MACD@tv-basicstudies",
                            "OBV@tv-basicstudies",
                            "MAWeighted@tv-basicstudies",
                            "RSI@tv-basicstudies",
                            "PivotPointsHighLow@tv-basicstudies",
                            "Volume@tv-basicstudies",
                            "BollingerBandsWidth@tv-basicstudies"
                        ],
                            "container_id": "tradingview_b148b"
                    }
                );</script>
        </div>
        <!-- TradingView Widget END -->

        @if (Model.PlaceOrderResponse != null)
        {
            <div style="padding:30px;text-align:center">
                <h2>Ордер: @Model.PlaceOrderResponse создан</h2>
            </div>
        }

        <div class="buy_sell">
            
            <div class="box">
                <div class="box-line">
                    <h4>Покупка @Model.Coin</h4>
                </div>
                <div class="box-line">

                    @{
                        string USDTAmount = "";
                    }

                    @foreach (var item in Model.balancesModel.AccountBalances)
                    {
                        if (item.Currency == "USDT")
                        {
                            USDTAmount = item.Free.ToString("#.##");
                        }
                    }
                    Доступно: @USDTAmount USDT
                </div>
                <form>
                    <div class="box-line">
                        <input type="text" value="@Model.BuyAmount" asp-for="BuyAmount" />@Model.Coin
                        <input asp-for="Coin" style="display:none" />


                    </div>
                    <div class="box-line">
                        <button type="submit" id="TradeHistory" formaction="../ManualTrading/Buy" formmethod="post" class="btn btn-secondary">Купить</button>
                    </div>
                </form>
            </div>
        </div>

        <table class="sortable table table-bordered table-font">
            <thead>
                <tr>
                    <th>#</th>
                    <th id="time">Время с </th>
                    <th id="time">Время по </th>
                    <th class="sorttable_nosort">Валюта</th>
                    <th class="sorttable_nosort">Купили</th>
                    <th class="sorttable_nosort">Продали</th>
                    <th class="sorttable_nosort">Прибыль</th>
                    <th class="sorttable_nosort">Комиссия</th>
                    <th class="sorttable_nosort">Закрытие</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Deals.deals)
                {
                    string itemProfitStr = "???";
                    if (item.profit.clean.percent != -100)
                    {
                        itemProfitStr = item.profit.clean.amount > 0 ? "+" : "";
                        itemProfitStr += String.Format("{0:0.##}", item.profit.clean.amount);
                        itemProfitStr += "$";
                        itemProfitStr += " | ";
                        itemProfitStr += item.profit.clean.amount > 0 ? "+" : "";
                        itemProfitStr += String.Format("{0:0.##}", item.profit.clean.percent);
                        itemProfitStr += "%";
                    }

                    string outcome = "???";
                    string fee = "???";

                    if (item.outcome != 0)
                    {
                        outcome = item.outcome.ToString("#.##") + " $";
                        fee = item.fee + "$";
                    }


                <tr class="trigger_popup_fricc">
                    <td>@item.id</td>
                    <td>@item.opened.ToString("dd.MM.yy HH:mm")</td>
                    <td>@item.closed.ToString("dd.MM.yy HH:mm")</td>
                    <td>@item.coin</td>
                    <td>@item.income.ToString("#.##") $</td>
                    <td>@outcome</td>
                    <td class="profit" style="color: @(item.profit.clean.amount > 0 ? " green" : "red" );">@itemProfitStr</td>
                    <td>@fee</td>
                    <td>
                        @if (outcome == "???")
                        {
                    <a href="~/ManualTrading/Sell?DealId=@item.id">Продать</a>
                        }
                    </td>

                </tr>
                }
            </tbody>
        </table>


    </div>

    <script>

    var Time = [];
    var m5 = [];
    var m15 = [];
    var m30 = [];
    var h1 = [];
    var h3 = [];
    var Prices = [];

    var graph_time = [];
    var graph_rsi = [];
        var graph_lir = [];
        var graph_reg = [];


    @foreach(var item in Model.Graphs)
    {<text>
    graph_time.push("@item.Time");
    graph_rsi.push(parseFloat(@item.rsi.ToString()));
    graph_lir.push(parseFloat(@item.lir.ToString()));
    graph_reg.push(parseFloat(@item.reg.ToString()));


    </text>
    }


     @foreach (var item in Model.Units)
    {
            <text>
    Time.push("@item.Time");

    m5.push(parseFloat(@item.PercentOfUnits5m));

    m15.push(parseFloat(@item.PercentOfUnits15m));

    m30.push(parseFloat(@item.PercentOfUnits30m));

    h1.push(parseFloat(@item.PercentOfUnits1h));

    h3.push(parseFloat(@item.PercentOfUnits3h));

            </text>

    }

    @foreach (var item in Model.CoinPrices)
    {
        <text>
    Prices.push(parseFloat(@item));
        </text>
    }


    var units_ctx = document.getElementById('units-timeline').getContext('2d');

    var units_chart = new Chart(units_ctx, {
        // The type of chart we want to create
        type: 'line',
        // The data for our dataset
        data: {
            labels: Time,
            datasets: [{
                label: '5 мин',
                borderColor: 'rgba(255, 159, 28, 0.8)',
                backgroundColor: 'rgba(255, 159, 28, 0.5)',
                fill: false,
                pointRadius:0,
                data: m5
            },
            {
                label: '15 мин',
                borderColor: 'rgba(78, 205, 196, 0.8)',
                backgroundColor: 'rgba(78, 205, 196, 0.5)',
                fill: false,
                pointRadius: 0,
                data: m15
            },
            {
                label: '30 мин',
                    borderColor: 'rgba(46, 96, 182, 0.8)',
                backgroundColor: 'rgba(46, 96, 182, 0.5)',
                fill: false,
                pointRadius: 0,
                data: m30
            },
            {
                label: '1 час',
                borderColor: 'rgba(244, 100, 48, 0.8)',
                backgroundColor: 'rgba(244, 100, 48, 0.5)',
                fill: false,
                pointRadius: 0,
                data: h1
            } ,
            {
                label: '3 часа',
                borderColor: 'rgba(42, 45, 52, 0.8)',
                backgroundColor: 'rgba(42, 45, 52, 0.4)',
                fill: false,
                pointRadius: 0,
                data: h3
            } ]
        },
        options: {
            responsive: true,
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                x: {
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Время'
                    }
                },
                y: {
                    stacked: true,
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Процент'
                    }
                },yAxes: [{
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 100
                    }
                }]
            }
        }
    });

        var graph_ctx = document.getElementById('graph_chart').getContext('2d');

        var graph_chart = new Chart(graph_ctx, {
        // The type of chart we want to create
        type: 'line',
        // The data for our dataset
        data: {
            labels: graph_time,
            datasets: [{
                label: 'rsi',
                borderColor: 'rgba(255, 159, 28, 0.8)',
                backgroundColor: 'rgba(255, 159, 28, 0.5)',
                fill: false,
                pointRadius: 0,
                data: graph_rsi
            },
            {
                label: 'lir',
                borderColor: 'rgba(78, 205, 196, 0.8)',
                backgroundColor: 'rgba(78, 205, 196, 0.5)',
                fill: false,
                pointRadius: 0,
                data: graph_lir
                },
                {
                    label: 'lris',
                    borderColor: 'rgba(46, 96, 182, 0.8)',
                    backgroundColor: 'rgba(46, 96, 182, 0.5)',
                    fill: false,
                    pointRadius: 0,
                    data: graph_reg
                }]
        },
        options: {
            responsive: true,
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                x: {
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Время'
                    }
                },
                y: {
                    stacked: true,
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Значение'
                    }
                }, yAxes: [{
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 1
                    }
                }]
            }
        }
    });

    var coin_ctx = document.getElementById('coin-cost-timeline').getContext('2d');


    var coin_chart = new Chart(coin_ctx, {
        // The type of chart we want to create
        type: 'line',
        // The data for our dataset
        data: {
            labels: Time,
            datasets: [{
                label: '@Model.Coin',
                borderColor: 'rgba(255, 159, 28, 0.8)',
                backgroundColor: 'rgba(255, 159, 28, 0.5)',
                fill: true,
                data: Prices
            }]
        },
        options: {
            responsive: true,
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                x: {
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Время'
                    }
                },
                y: {
                    stacked: true,
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Процент'
                    }
                },
                yAxes: [{
                    ticks: {
                        suggestedMin: @ViewBag.MinCourse,
                        suggestedMax: @ViewBag.MaxCourse
                    }
                }]
            }
        }
    });


    </script>