@{ Layout = null; }

@model CRM.ViewModels.TradeHistoryFilterModel

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>Datavisio</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">



    <!-- DEMO CHARTS -->
    <link rel="stylesheet" href="~/public/demo/chartist.css">
    <link rel="stylesheet" href="~/public/demo/chartist-plugin-tooltip.css">

    <!-- Template -->
    <link rel="stylesheet" href="~/public/graindashboard/css/graindashboard.css">

</head>

<body class="has-sidebar has-fixed-sidebar-and-header">
    <!-- Header -->
    @Html.Partial("_Header")
    <!-- End Header -->

    <main class="main">
        <!-- Sidebar Nav -->
        @Html.Partial("_SideBar")

        <!-- End Sidebar Nav -->

        <div class="content">
            <div class="py-4 px-3 px-md-4">

                <div class="mb-3 mb-md-4 d-flex justify-content-between">
                    <div class="h3 mb-0">История торгов</div>
                </div>

                <div>
                    <form class="" action="../Dashboard/Index" method="post">
                        <div class="form-row">
                            <div class="form-group col-2">
                                <label for="currency">Валюта</label>
                                @Html.DropDownListFor(m => m.Coin, (IEnumerable<SelectListItem>)ViewBag.Coins, "Все валюты", new { @class = "form-control", name = "coin", id = "coin_selector" })
                            </div>

                            <div class="form-group col-2">
                                <label for="startDate">Дата от</label>
                                <input type="datetime-local" class="form-control" asp-for="@Model.StartDate" value=@Model.StartDate min="@ViewBag.FilterStartDate">
                            </div>
                            <div class="form-group col-2">
                                <label for="endDate">Дата по</label>
                                <input type="datetime-local" class="form-control" asp-for="@Model.EndDate" value=@Model.EndDate min="@ViewBag.FilterEndDate">
                            </div>
                            <div class="form-group col-2">
                                <button type="submit" class="form-control btn btn-primary" name="button" style="position: absolute; bottom: 0px;">Посмотреть</button>
                            </div>
                        </div>
                    </form>
                </div>

                @if (Model.TotalProfit != "")
                {

                    <div class="row">
                        <div class="col-md-6 col-xl-4 mb-3 mb-xl-4">
                            <!-- Widget -->
                            <div class="card flex-row align-items-center p-3 p-md-4">
                                <div class="icon icon-lg bg-soft-success rounded-circle mr-3">
                                    <i class="gd-wallet icon-text d-inline-block text-success"></i>
                                </div>
                                <div>
                                    <h4 class="lh-1 mb-1">$@String.Format("{0:0.##}", Model.ProfitOrdersSumm)</h4>
                                    <h6 class="mb-0">Общая прибыль</h6>
                                </div>
                                <i class="gd-arrow-up icon-text d-flex text-success ml-auto"></i>
                            </div>
                            <!-- End Widget -->
                        </div>
                        <div class="col-md-6 col-xl-4 mb-3 mb-xl-4">
                            <!-- Widget -->
                            <div class="card flex-row align-items-center p-3 p-md-4">
                                <div class="icon icon-lg bg-soft-danger rounded-circle mr-3">
                                    <i class="gd-wallet icon-text d-inline-block text-danger"></i>
                                </div>
                                <div>
                                    <h4 class="lh-1 mb-1">$@String.Format("{0:0.##}", Model.LossOrdersSumm)</h4>
                                    <h6 class="mb-0">Общий убыток</h6>
                                </div>
                                <i class="gd-arrow-down icon-text d-flex text-danger ml-auto"></i>
                            </div>
                            <!-- End Widget -->
                        </div>
                        <div class="col-md-6 col-xl-4 mb-3 mb-xl-4">
                            <!-- Widget -->
                            <div class="card flex-row align-items-center p-3 p-md-4">
                                <div class="icon icon-lg bg-soft-primary rounded-circle mr-3">
                                    <i class="gd-wallet icon-text d-inline-block text-primary"></i>
                                </div>
                                <div>
                                    <h4 class="lh-1 mb-1">$@String.Format("{0:0.##}", Model.TotalProfit)</h4>
                                    <h6 class="mb-0">Итоговый результат</h6>
                                </div>
                                <i class="@(Model.TotalProfit[0] == '+' ? "gd-arrow-up" : "gd-arrow-down") icon-text d-flex @(Model.TotalProfit[0] == '+' ? "text-success" : "text-danger") ml-auto"></i>

                            </div>
                            <!-- End Widget -->
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-12">
                            <div class="card mb-3 mb-md-4">
                                <div class="card-header">
                                    <h5 class="font-weight-semi-bold mb-0">Последние сделки</h5>
                                </div>

                                <div class="card-body pt-0">
                                    <div class="table-responsive-xl">
                                        <table class="table text-nowrap mb-0">
                                            <thead>
                                                <tr>
                                                    <th class="font-weight-semi-bold border-top-0 py-2">#</th>
                                                    <th class="font-weight-semi-bold border-top-0 py-2">Время покупки</th>
                                                    <th class="font-weight-semi-bold border-top-0 py-2">Время продажи</th>
                                                    <th class="font-weight-semi-bold border-top-0 py-2">Валюта</th>
                                                    <th class="font-weight-semi-bold border-top-0 py-2">Курс покупки</th>
                                                    <th class="font-weight-semi-bold border-top-0 py-2">Курс продажи</th>
                                                    <th class="font-weight-semi-bold border-top-0 py-2">Сумма покупки</th>
                                                    <th class="font-weight-semi-bold border-top-0 py-2">Сумма продажи</th>
                                                    <th class="font-weight-semi-bold border-top-0 py-2">Прибыль</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model.Deals.deals)
                                                {
                                                    string itemProfitStr = "";
                                                    string outcome = "";
                                                    string closed = "";

                                                    if (item.profit.clean.percent != -100)
                                                    {
                                                        itemProfitStr = item.profit.clean.amount > 0 ? "+" : "";
                                                        itemProfitStr += String.Format("{0:0.##}", item.profit.clean.amount);
                                                        itemProfitStr += "$";
                                                        itemProfitStr += " | ";
                                                        itemProfitStr += item.profit.clean.amount > 0 ? "+" : "";
                                                        itemProfitStr += String.Format("{0:0.##}", item.profit.clean.percent);
                                                        itemProfitStr += "%";

                                                        outcome = "$" + item.outcome.Value.ToString("#.##");


                                                    }


                                                    <tr>
                                                        <td><a href="~/Dashboard/Deal?DealId=@item.id">@item.id</a></td>
                                                        <td><div>@item.opened.ToString("dd.MM.yy HH:mm")</div></td>
                                                        <td><div>@(item.closed.Value.ToString("dd.MM.yy HH:mm") != "01.01.99 00:00" ? item.closed.Value.ToString("dd.MM.yy HH:mm") : null)</div></td>
                                                        <td>@item.coin/@item.quote</td>
                                                        <td>@item.orders.Last().price.ToString("#.##")</td>
                                                        <td>@(item.orders.Count() > 1 ? item.orders.First().price.ToString("#.##") : null)</td>
                                                        <td>$@item.income.Value.ToString("#.##")</td>
                                                        <td>@outcome</td>
                                                        <td>
                                                            <span class="badge badge-pill @(item.profit.clean.amount > 0 ? "badge-success" : "badge-danger")" style="width: 110px;">@itemProfitStr</span>
                                                        </td>
                                                    </tr>
                                                }



                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="h4 mb-0">За выбранный период сделки отсутствуют!</div>
                    <div class="h5 mb-0">Выберите другой временной период</div>

                }

            </div>

            <!-- Footer -->
            <footer class="small p-3 px-md-4 mt-auto">
                <div class="row justify-content-between">
                    <div class="col-lg text-center text-lg-left mb-3 mb-lg-0">
                        <ul class="list-dot list-inline mb-0">
                            <li class="list-dot-item list-dot-item-not list-inline-item mr-lg-2"><a class="link-dark" href="#">FAQ</a></li>
                            <li class="list-dot-item list-inline-item mr-lg-2"><a class="link-dark" href="#">Support</a></li>
                            <li class="list-dot-item list-inline-item mr-lg-2"><a class="link-dark" href="#">Contact us</a></li>
                        </ul>
                    </div>



                    <div class="col-lg text-center text-lg-right">
                        &copy; 2020 <a href="https://a-n-s-technologies.com/">ANS Technologies LLC</a>. All Rights Reserved.
                    </div>
                </div>
            </footer>
            <!-- End Footer -->
        </div>
    </main>


    <script src="~/public/graindashboard/js/graindashboard.js"></script>
    <script src="~/public/graindashboard/js/graindashboard.vendor.js"></script>

    <!-- DEMO CHARTS -->
    <script src="~/public/demo/resizeSensor.js"></script>
    <script src="~/public/demo/chartist.js"></script>
    <script src="~/public/demo/chartist-plugin-tooltip.js"></script>
    <script src="~/public/demo/gd.chartist-area.js"></script>
    <script src="~/public/demo/gd.chartist-bar.js"></script>
    <script src="~/public/demo/gd.chartist-donut.js"></script>
    <script>
    $.GDCore.components.GDChartistArea.init('.js-area-chart');
        $.GDCore.components.GDChartistBar.init('.js-bar-chart');
        $.GDCore.components.GDChartistDonut.init('.js-donut-chart');</script>
</body>
</html>
