@{ Layout = null; }

@model CRM.ViewModels.TradeHistoryFilterModel

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>Datavisio</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/public/img/favicon.ico">


    <!-- DEMO CHARTS -->
    <link rel="stylesheet" href="~/public/demo/chartist.css">
    <link rel="stylesheet" href="~/public/demo/chartist-plugin-tooltip.css">

    <!-- Template -->
    <link rel="stylesheet" href="~/public/graindashboard/css/graindashboard.css">

</head>

<body class="has-sidebar has-fixed-sidebar-and-header">
    <!-- Header -->
    <header class="header bg-body">
        <nav class="navbar flex-nowrap p-0" style="background-color: white;">
            <div class="navbar-brand-wrapper d-flex align-items-center col-auto">
                <!-- Logo For Mobile View -->
                <a class="navbar-brand navbar-brand-mobile" href="/">
                    <img class="img-fluid w-100" src="~/public/img/logo-mini.png" alt="Graindashboard">
                </a>
                <!-- End Logo For Mobile View -->
                <!-- Logo For Desktop View -->
                <a class="navbar-brand navbar-brand-desktop" href="/">
                    <img class="side-nav-show-on-closed" src="~/public/img/logo-mini.png" alt="Graindashboard" style="width: auto; height: 33px;">
                    <img class="side-nav-hide-on-closed" src="~/public/img/logo.png" alt="Graindashboard" style="width: auto; height: 23px;">
                </a>
                <!-- End Logo For Desktop View -->
            </div>

            <div class="header-content col px-md-3">
                <div class="d-flex align-items-center">
                    <!-- Side Nav Toggle -->
                    <a class="js-side-nav header-invoker d-flex mr-md-2" href="#"
                       data-close-invoker="#sidebarClose"
                       data-target="#sidebar"
                       data-target-wrapper="body">
                        <i class="gd-align-left"></i>
                    </a>
                    <!-- End Side Nav Toggle -->
                    <!-- User Notifications -->
                    <div class="dropdown ml-auto">


                        <div id="notifications" class="dropdown-menu dropdown-menu-center py-0 mt-4 w-18_75rem w-md-22_5rem unfold-css-animation unfold-hidden" aria-labelledby="notificationsInvoker" style="animation-duration: 300ms;">

                        </div>
                        <!-- End User Notifications -->
                        <!-- User Avatar -->
                        <div class="dropdown mx-3 dropdown ml-2">
                            <a id="profileMenuInvoker" class="header-complex-invoker" href="#" aria-controls="profileMenu" aria-haspopup="true" aria-expanded="false" data-unfold-event="click" data-unfold-target="#profileMenu" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-animation-in="fadeIn" data-unfold-animation-out="fadeOut">
                                <!--img class="avatar rounded-circle mr-md-2" src="#" alt="John Doe"-->
                                <span class="mr-md-2 avatar-placeholder">B</span>
                                <span class="d-none d-md-block">Boss</span>
                                <i class="gd-angle-down d-none d-md-block ml-2"></i>
                            </a>

                            <ul id="profileMenu" class="unfold unfold-user unfold-light unfold-top unfold-centered position-absolute pt-2 pb-1 mt-4 unfold-css-animation unfold-hidden fadeOut" aria-labelledby="profileMenuInvoker" style="animation-duration: 300ms;">
                                <li class="unfold-item">
                                    <a class="unfold-link d-flex align-items-center text-nowrap" href="#">
                                        <span class="unfold-item-icon mr-3">
                                            <i class="gd-user"></i>
                                        </span>
                                        Баланс
                                    </a>
                                </li>
                                <li class="unfold-item unfold-item-has-divider">
                                    <a class="unfold-link d-flex align-items-center text-nowrap" href="../UserPanel/ExitFromAccount">
                                        <span class="unfold-item-icon mr-3">
                                            <i class="gd-power-off"></i>
                                        </span>
                                        Выход
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End User Avatar -->
                    </div>
                </div>
        </nav>
    </header>
    <!-- End Header -->

    <main class="main">
        <!-- Sidebar Nav -->
        <aside id="sidebar" class="js-custom-scroll side-nav">
            <ul id="sideNav" class="side-nav-menu side-nav-menu-top-level mb-0">
                <!-- Title -->
                <li class="sidebar-heading h6">Торговля</li>
                <!-- End Title -->
                <!-- Dashboard -->
                <li class="side-nav-menu-item active">
                    <a class="side-nav-menu-link media align-items-center" href="">
                        <span class="side-nav-menu-icon d-flex mr-3">
                            <i class="gd-dashboard"></i>
                        </span>
                        <span class="side-nav-fadeout-on-closed media-body">История торгов</span>
                    </a>
                </li>
                <!-- End Dashboard -->
                <!-- Documentation -->
                <li class="side-nav-menu-item">
                    <a class="side-nav-menu-link media align-items-center" href="">
                        <span class="side-nav-menu-icon d-flex mr-3">
                            <i class="gd-file"></i>
                        </span>
                        <span class="side-nav-fadeout-on-closed media-body">Статистика</span>
                    </a>
                </li>
                <!-- End Documentation -->
                <!-- Title -->
                <li class="sidebar-heading h6">Аккаунт</li>
                <!-- End Title -->
                <!-- Users -->
                <li class="side-nav-menu-item side-nav-has-menu">
                    <a class="side-nav-menu-link media align-items-center" href="#"
                       data-target="#subUsers">
                        <span class="side-nav-menu-icon d-flex mr-3">
                            <i class="gd-user"></i>
                        </span>
                        <span class="side-nav-fadeout-on-closed media-body">Профиль</span>
                        <span class="side-nav-control-icon d-flex">
                            <i class="gd-angle-right side-nav-fadeout-on-closed"></i>
                        </span>
                        <span class="side-nav__indicator side-nav-fadeout-on-closed"></span>
                    </a>

                    <!-- Users: subUsers -->
                    <ul id="subUsers" class="side-nav-menu side-nav-menu-second-level mb-0">
                        <li class="side-nav-menu-item">
                            <a class="side-nav-menu-link" href="">Баланс</a>
                        </li>
                        <li class="side-nav-menu-item">
                            <a class="side-nav-menu-link" href="">Управление</a>
                        </li>
                    </ul>
                    <!-- End Users: subUsers -->
                </li>
                <!-- End Users -->
                <!-- Settings -->
                <li class="side-nav-menu-item">
                    <a class="side-nav-menu-link media align-items-center" href="">
                        <span class="side-nav-menu-icon d-flex mr-3">
                            <i class="gd-settings"></i>
                        </span>
                        <span class="side-nav-fadeout-on-closed media-body">Настройки</span>
                    </a>
                </li>
                <!-- End Settings -->



            </ul>
        </aside>
        <!-- End Sidebar Nav -->

        <div class="content">
            <div class="py-4 px-3 px-md-4">

                <div class="mb-3 mb-md-4 d-flex justify-content-between">
                    <div class="h3 mb-0">История торгов</div>
                </div>

                <div>
                    <form class="" action="../Dashboard/Index" method="post">
                        <div class="form-row">
                            <div class="form-group col-2">
                                <label for="currency">Валюта</label>
                                @Html.DropDownListFor(m => m.Coin, (IEnumerable<SelectListItem>)ViewBag.Coins, "Все валюты", new { @class = "form-control", name = "coin", id = "coin_selector" })
                            </div>

                            <div class="form-group col-2">
                                <label for="startDate">Дата от</label>
                                <input type="datetime-local" class="form-control" asp-for="@Model.StartDate" value=@Model.StartDate min="@ViewBag.FilterStartDate">
                            </div>
                            <div class="form-group col-2">
                                <label for="endDate">Дата по</label>
                                <input type="datetime-local" class="form-control" asp-for="@Model.EndDate" value=@Model.EndDate min="@ViewBag.FilterEndDate" >
                            </div>
                            <div class="form-group col-2">
                                <button type="submit" class="form-control btn btn-primary" name="button" style="position: absolute; bottom: 0px;">Посмотреть</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <div class="col-12">
                        <!-- Card -->
                        <div class="card mb-3 mb-md-4">
                            
                            <div id="walletsContent" class="card-body tab-content">
                                <div class="tab-pane fade show active" id="all" role="tabpanel">
                                    <div class="row text-center">
                                        <div class="col-3 col-md-3 mb-3 mb-md-0">
                                            <div class="h3 mb-0">
                                                <span class="text-success">+</span>$@Model.ProfitOrdersSumm<sup class="h5">.@Model.ProfitOrdersSummAfterDecimal</sup>
                                            </div>
                                            <small class="text-muted">Прибыль</small>
                                        </div>

                                        <div class="col-3 col-md-3 mb-3 mb-md-0 border-left">
                                            <div class="h3 mb-0">
                                                <span class="text-danger">-</span>$@Model.LossOrdersSumm<sup class="h5">.@Model.LossOrdersSummAfterDecimal</sup>
                                            </div>
                                            <small class="text-muted">Убытки</small>
                                        </div>

                                        <div class="col-3 col-md-3 mb-3 mb-md-0 border-left">
                                            <div class="h3 mb-0">
                                                <span class="@(Model.TotalProfit[0] == '+' ? "text-success" : "text-danger")">@Model.TotalProfit[0]</span>$@Model.TotalProfit.Substring(1)<sup class="h5">.@Model.TotalProfitAfterDecimal</sup>
                                            </div>
                                            <small class="text-muted">Результат</small>
                                        </div>

                                        <div class="col-12 col-md-3 border-left">
                                            <div class="h3 mb-0">
                                                <span class="@(Model.DepositProfit[0] == '+' ? "text-success" : "text-danger")">@Model.DepositProfit[0]</span>@Model.DepositProfit.Substring(1)<sup class="h5">%</sup>
                                            </div>
                                            <small class="text-muted">Проценты</small>
                                        </div>
                                    </div>

                                    <div class="js-area-chart chart chart--axis-x--nowrap chart--points-invisible position-relative mh-15_6 safari-overflow-hidden pt-4 pt-md-5 pb-1"
                                         data-series='[
                           [
                             {"meta":"8/12/2020 9:00 PM","value":"54"},
                             {"meta":"8/15/2020 9:00 PM","value":"32"},
                             {"meta":"8/19/2020 9:00 PM","value":"-17"},
                             {"meta":"8/21/2020 9:00 PM","value":"-2"},
                             {"meta":"8/25/2020 9:00 PM","value":"14"},
                             {"meta":"9/06/2020 9:00 PM","value":"21"},
                             {"meta":"9/07/2020 9:00 PM","value":"8"},
                             {"meta":"9/08/2020 9:00 PM","value":"5"},
                             {"meta":"9/19/2020 9:00 PM","value":"-23"},
                             {"meta":"10/01/2020 9:00 PM","value":"9"},
                             {"meta":"10/05/2020 9:00 PM","value":"12"},
                             {"meta":"10/12/2020 9:00 PM","value":"70"},
                             {"meta":"10/13/2020 9:00 PM","value":"-17"},
                             {"meta":"10/24/2020 9:00 PM","value":"51"},
                             {"meta":"11/02/2020 9:00 PM","value":"62"},
                             {"meta":"11/05/2020 9:00 PM","value":"41"},
                             {"meta":"11/08/2020 9:00 PM","value":"-23"},
                             {"meta":"11/11/2020 9:00 PM","value":"-5"},
                             {"meta":"11/14/2020 9:00 PM","value":"45"},
                             {"meta":"11/20/2020 9:00 PM","value":"23"},
                             {"meta":"11/21/2020 9:00 PM","value":"78"},
                             {"meta":"12/01/2020 9:00 PM","value":"-1"},
                             {"meta":"12/03/2020 9:00 PM","value":"-6"},
                             {"meta":"12/08/2020 9:00 PM","value":"9"},
                             {"meta":"12/10/2020 9:00 PM","value":"-7"},
                             {"meta":"12/14/2020 9:00 PM","value":"45"},
                             {"meta":"12/20/2020 9:00 PM","value":"64"},
                             {"meta":"12/24/2020 9:00 PM","value":"88"},
                             {"meta":"12/27/2020 9:00 PM","value":"-2"},
                             {"meta":"12/30/2020 9:00 PM","value":"13"}
                           ]
                         ]'
                                         data-labels='["Август 12","Август 15","Август 19","Август 21","Август 25","Сентябрь 06","Сентябрь 07","Сентябрь 08","Сентябрь 19","Октябрь 01","Октябрь 05","Октябрь 12","Октябрь 13","Октябрь 24","Ноябрь 02","Ноябрь 05","Ноябрь 08","Ноябрь 11","Ноябрь 14","Ноябрь 20","Ноябрь 21","Декабрь 01","Декабрь 03","Декабрь 08","Декабрь 10","Декабрь 14","Декабрь 20","Декабрь 24","Декабрь 27","Декабрь 30"]'
                                         data-labels-qty="12"
                                         data-labels-start-from="1"
                                         data-prefix="$"
                                         data-height="250"
                                         data-mobile-height="75"
                                         data-high="100"
                                         data-low="-20"
                                         data-offset-x="30"
                                         data-offset-y="60"
                                         data-is-line-smooth='[true]'
                                         data-line-width='["1px"]'
                                         data-line-colors='["#4C6DCE"]'
                                         data-fill-opacity="1"
                                         data-fill-colors='["#e1e4eb"]'
                                         data-text-size-x="14px"
                                         data-text-color-x="#4C6DCE"
                                         data-text-offset-top-x="10"
                                         data-text-align-axis-x="center"
                                         data-text-size-y="14px"
                                         data-text-color-y="#868e96"
                                         data-is-show-tooltips="true"
                                         data-is-tooltip-divided="true"
                                         data-tooltip-custom-class="chart-tooltip--divided chart-tooltip__value--bg-black chart-tooltip__meta--bg-primary small text-white"
                                         data-tooltip-currency="USD "
                                         data-is-show-points="true"
                                         data-point-custom-class='chart__point--donut chart__point--has-line-helper chart__point--border-xxs border-primary rounded-circle'
                                         data-point-dimensions='{"width":8,"height":8}'></div>
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                    </div>
                </div>



                <div class="row">
                    <div class="col-12">
                        <div class="card mb-3 mb-md-4">
                            <div class="card-header">
                                <h5 class="font-weight-semi-bold mb-0">Последние сделки</h5>
                            </div>

                            <div class="card-body pt-0">
                                <div class="table-responsive-xl">
                                    <table class="table text-nowrap mb-0">
                                        <thead>
                                            <tr>
                                                <th class="font-weight-semi-bold border-top-0 py-2">#</th>
                                                <th class="font-weight-semi-bold border-top-0 py-2">Время</th>
                                                <th class="font-weight-semi-bold border-top-0 py-2">Валюта</th>
                                                <th class="font-weight-semi-bold border-top-0 py-2">Покупка</th>
                                                <th class="font-weight-semi-bold border-top-0 py-2">Продажа</th>
                                                <th class="font-weight-semi-bold border-top-0 py-2">Прибыль</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.Deals.deals)
                                            {
                                                string itemProfitStr = "";
                                                string outcome = "";
                                                string closed = "";

                                                if (item.profit.clean.percent != -100)
                                                {
                                                    itemProfitStr = item.profit.clean.amount > 0 ? "+" : "";
                                                    itemProfitStr += String.Format("{0:0.##}", item.profit.clean.amount);
                                                    itemProfitStr += "$";
                                                    itemProfitStr += " | ";
                                                    itemProfitStr += item.profit.clean.amount > 0 ? "+" : "";
                                                    itemProfitStr += String.Format("{0:0.##}", item.profit.clean.percent);
                                                    itemProfitStr += "%";

                                                    outcome = "$" + item.outcome.Value.ToString("#.##");

                                                    closed = item.closed.Value.ToString("dd.MM.yy HH:mm");

                                                }


                                                <tr>
                                                    <td class="py-3"><a href="~/ManualTrading/GetDeal?DealId=@item.id">@item.id</a></td>
                                                    <td class="py-3">
                                                        <div>@item.opened.ToString("dd.MM.yy HH:mm")</div>
                                                        <div class="text-muted">@closed</div>
                                                    </td>
                                                    <td class="py-3">@item.coin</td>
                                                    <td class="py-3">$@item.income.Value.ToString("#.##")</td>
                                                    <td class="py-3">@outcome</td>
                                                    <td class="py-3">
                                                        <span class="badge badge-pill @(item.profit.clean.amount > 0 ? "badge-success" : "badge-danger")" style="width: 110px;">@itemProfitStr</span>
                                                    </td>
                                                </tr>
                                            }



                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <!-- Footer -->
            <footer class="small p-3 px-md-4 mt-auto">
                <div class="row justify-content-between">
                    <div class="col-lg text-center text-lg-left mb-3 mb-lg-0">
                        <ul class="list-dot list-inline mb-0">
                            <li class="list-dot-item list-dot-item-not list-inline-item mr-lg-2"><a class="link-dark" href="#">FAQ</a></li>
                            <li class="list-dot-item list-inline-item mr-lg-2"><a class="link-dark" href="#">Support</a></li>
                            <li class="list-dot-item list-inline-item mr-lg-2"><a class="link-dark" href="#">Contact us</a></li>
                        </ul>
                    </div>



                    <div class="col-lg text-center text-lg-right">
                        &copy; 2020 <a href="https://a-n-s-technologies.com/">ANS Technologies LLC</a>. All Rights Reserved.
                    </div>
                </div>
            </footer>
            <!-- End Footer -->
        </div>
    </main>


    <script src="public/graindashboard/js/graindashboard.js"></script>
    <script src="public/graindashboard/js/graindashboard.vendor.js"></script>

    <!-- DEMO CHARTS -->
    <script src="public/demo/resizeSensor.js"></script>
    <script src="public/demo/chartist.js"></script>
    <script src="public/demo/chartist-plugin-tooltip.js"></script>
    <script src="public/demo/gd.chartist-area.js"></script>
    <script src="public/demo/gd.chartist-bar.js"></script>
    <script src="public/demo/gd.chartist-donut.js"></script>
    <script>
    $.GDCore.components.GDChartistArea.init('.js-area-chart');
        $.GDCore.components.GDChartistBar.init('.js-bar-chart');
        $.GDCore.components.GDChartistDonut.init('.js-donut-chart');</script>
</body>
</html>
