@{ Layout = null; }

@model CRM.ViewModels.UserPanelModel

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>Datavisio</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <style>
        .btn {
            cursor: pointer;
        }
        .btn:hover {
            background-color: #4a4e69 !important;
        }
    </style>

    <!-- DEMO CHARTS -->
    <link rel="stylesheet" href="~/public/demo/chartist.css">
    <link rel="stylesheet" href="~/public/demo/chartist-plugin-tooltip.css">

    <!-- Template -->
    <link rel="stylesheet" href="~/public/graindashboard/css/graindashboard.css">

</head>

<body class="has-sidebar has-fixed-sidebar-and-header">
    <!-- Header -->
    @Html.Partial("_Header")
    <!-- End Header -->

    <main class="main">
        <!-- Sidebar Nav -->
        @Html.Partial("_SideBar")

        <!-- End Sidebar Nav -->

        <div class="content">
            <div class="py-4 px-3 px-md-4">

                <div class="mb-3 mb-md-4 d-flex justify-content-between">
                    <div class="h3 mb-0">Управление торговлей</div>
                </div>



                <div class="row">

                    <div class="col-xl-12 mb-3 mb-md-4">
                        <div class="card" style="background-color:inherit">
                            <div class="card-header">
                                <h5 class="font-weight-semi-bold mb-0">Включение валюты</h5>
                            </div>
                            <div class="card-body pt-0">
                                <div class="d-flex flex-wrap mb-3 mb-md-4">

                                    @foreach (var pair in Model.AccountData.pairs)
                                    {
                                        <div class="form-check position-relative pl-0 mb-2 mr-2">
                                            <input type="checkbox" class="form-check-input invisible" id="CheckBox{@pair.coin}{@pair.quote}" @(pair.enabled == true ? "checked" : "")>
                                            <label for="CheckBox{@pair.coin}{@pair.quote}" class="checkbox-text position-relative btn btn-outline-primary form-check-label" onclick="SendCoin('@pair.coin','@pair.quote')">
                                            <span>@pair.coin / @pair.quote</span>
                                        </label>
                                        </div>
                                    }
                                        
                                    </div>
                            </div>

                            <script type="text/javascript">

                                function SendCoin(coin, quote) {
                                    $.ajax({
                                        type: "POST",
                                        url: "/Dashboard/EnableDisableTradePair",
                                        data: {coin: coin, quote: quote},
                                        success: function (response) {

                                        },
                                        failure: function (response) {
                                        },
                                        error: function (response) {
                                        }
                                    });
                                }
                            </script>
                        </div>
                    </div>
                    <div class="col-xl-12 mb-3 mb-md-4">
                        <div class="card" style="background-color:initial !important;>
                            <div class="card-header">
                                <h5 class="font-weight-semi-bold mb-0">Маржинальный счет</h5>
                            </div>
                            <div class="card-body pt-0">
                                <table class="table text-center">
                                    <thead>
                                        <tr>
                                            <th class="font-weight-semi-bold border-top-0 py-2">Валюта</th>
                                            <th class="font-weight-semi-bold border-top-0 py-2">Свободно</th>
                                            <th class="font-weight-semi-bold border-top-0 py-2">В использовании</th>
                                            <th class="font-weight-semi-bold border-top-0 py-2">Всего</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.BalancesMargin.AccountBalances)
                                        {
                                            {
                                                <tr style="border-bottom:2px solid #dcdcdc">
                                                    <td>@item.Currency</td>
                                                    <td>@item.Free</td>
                                                    <td>@item.Used</td>
                                                    <td>@item.Total</td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>



            </div>

            <!-- Footer -->
            <footer class="small p-3 px-md-4 mt-auto">
                <div class="row justify-content-between">
                    <div class="col-lg text-center text-lg-left mb-3 mb-lg-0">
                        <ul class="list-dot list-inline mb-0">
                            <li class="list-dot-item list-dot-item-not list-inline-item mr-lg-2"><a class="link-dark" href="#">FAQ</a></li>
                            <li class="list-dot-item list-inline-item mr-lg-2"><a class="link-dark" href="#">Support</a></li>
                            <li class="list-dot-item list-inline-item mr-lg-2"><a class="link-dark" href="#">Contact us</a></li>
                        </ul>
                    </div>



                    <div class="col-lg text-center text-lg-right">
                        &copy; 2020 ANSTECHNOLOGIES. All Rights Reserved.
                    </div>
                </div>
            </footer>
            <!-- End Footer -->
        </div>
    </main>


    <script src="~/public/graindashboard/js/graindashboard.js"></script>
    <script src="~/public/graindashboard/js/graindashboard.vendor.js"></script>

    <!-- DEMO CHARTS -->
    <script src="~/public/demo/resizeSensor.js"></script>
    <script src="~/public/demo/chartist.js"></script>
    <script src="~/public/demo/chartist-plugin-tooltip.js"></script>
    <script src="~/public/demo/gd.chartist-area.js"></script>
    <script src="~/public/demo/gd.chartist-bar.js"></script>
    <script src="~/public/demo/gd.chartist-donut.js"></script>
    <script>
        $.GDCore.components.GDChartistArea.init('.js-area-chart');
        $.GDCore.components.GDChartistBar.init('.js-bar-chart');
        $.GDCore.components.GDChartistDonut.init('.js-donut-chart');
    </script>
</body>

</html>
